<!doctype html>
<html class="default no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@electron-forge/template-typescript-webpack</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<header>
	<div class="tsd-page-toolbar">
		<div class="container">
			<div class="table-wrap">
				<div class="table-cell" id="tsd-search" data-index="/assets/js/search.js" data-base=".">
					<div class="field">
						<label for="tsd-search-field" class="tsd-widget search no-caption">Search</label>
						<input id="tsd-search-field" type="text" />
					</div>
					<ul class="results">
						<li class="state loading">Preparing search index...</li>
						<li class="state failure">The search index is not available</li>
					</ul>
					<a href="/template/typescript-webpack/index.html" class="title">@electron-forge/template-typescript-webpack</a>
				</div>
				<div class="table-cell" id="tsd-widgets">
					<div id="tsd-filter">
						<a href="#" class="tsd-widget options no-caption" data-toggle="options">Options</a>
						<div class="tsd-filter-group">
							<div class="tsd-select" id="tsd-filter-visibility">
								<span class="tsd-select-label">All</span>
								<ul class="tsd-select-list">
									<li data-value="public">Public</li>
									<li data-value="protected">Public/Protected</li>
									<li data-value="private" class="selected">All</li>
								</ul>
							</div>
							<input type="checkbox" id="tsd-filter-inherited" checked />
							<label class="tsd-widget" for="tsd-filter-inherited">Inherited</label>
							<input type="checkbox" id="tsd-filter-only-exported" />
							<label class="tsd-widget" for="tsd-filter-only-exported">Only exported</label>
						</div>
					</div>
					<a href="#" class="tsd-widget menu no-caption" data-toggle="menu">Menu</a>
				</div>
			</div>
		</div>
	</div>
	<div class="tsd-page-title">
		<div class="container">
			<ul class="tsd-breadcrumb">
				<li>
					<a href="/template/typescript-webpack/globals.html">Globals</a>
				</li>
			</ul>
			<h1>@electron-forge/template-typescript-webpack</h1>
		</div>
	</div>
</header>
<div class="container container-main">
	<div class="row">
		<div class="col-8 col-content">
			<div class="tsd-panel tsd-typography">
				<a href="#electron-forge" id="electron-forge" style="color: inherit; text-decoration: none;">
					<h2>Electron Forge</h2>
				</a>
				<p><a href="https://github.com/electron-userland/electron-forge/actions?query=workflow:CI"><img src="https://github.com/electron-userland/electron-forge/workflows/CI/badge.svg" alt="Build Status"></a>
					<a href="http://commitizen.github.io/cz-cli/"><img src="https://img.shields.io/badge/commitizen-friendly-brightgreen.svg" alt="Commitizen friendly"></a>
					<a href="https://www.npmjs.com/package/electron-forge"><img src="https://badge.fury.io/js/electron-forge.svg" alt="npm version"></a>
					<a href="https://www.npmjs.com/package/electron-forge"><img src="https://img.shields.io/npm/dt/electron-forge.svg?maxAge=2592000" alt="npm"></a>
					<a href="https://github.com/electron-userland/electron-forge/blob/master/LICENSE"><img src="https://img.shields.io/github/license/electron-userland/electron-forge.svg" alt="license"></a>
				<img src="https://img.shields.io/badge/Status-%20Ready%20for%20Awesome-red.svg" alt="status"></p>
				<p>A complete tool for building modern Electron applications.</p>
				<p>Electron Forge unifies the existing (and well maintained) build tools for
					Electron development into a simple, easy to use package so that anyone can
				jump right in to Electron development.</p>
				<hr>
				<a href="#rotating_light-construction-strongwarningstrong-construction-rotating_light" id="rotating_light-construction-strongwarningstrong-construction-rotating_light" style="color: inherit; text-decoration: none;">
					<h2>:rotating_light: :construction: <strong>WARNING</strong> :construction: :rotating_light:</h2>
				</a>
				<p>:building_construction:</p>
				<p>The <code>master</code> branch is a rewrite of Electron Forge that will eventually be the 6.x series. If you
				are looking for the 5.x series (the version currently published to NPM under <code>electron-forge</code>), please view the <a href="https://github.com/electron-userland/electron-forge/tree/5.x">5.x branch</a>.</p>
				<hr>
				<p><a href="https://www.electronforge.io">Website</a> |
					<a href="#project-goals">Goals</a> |
					<a href="#docs-and-usage">Docs and Usage</a> |
					<a href="https://www.electronforge.io/configuration">Configuration</a> |
					<a href="https://github.com/electron-userland/electron-forge/blob/master/SUPPORT.md">Support</a> |
					<a href="https://github.com/electron-userland/electron-forge/blob/master/CONTRIBUTING.md">Contributing</a> |
				<a href="https://github.com/electron-userland/electron-forge/blob/master/CHANGELOG.md">Changelog</a></p>
				<a href="#getting-started" id="getting-started" style="color: inherit; text-decoration: none;">
					<h1>Getting Started</h1>
				</a>
				<p><strong>Note</strong>: Electron Forge requires Node 10 or above, plus git installed.</p>
				<p>If you have a more recent version of <code>npm</code> or <code>yarn</code>, you can use
					<a href="https://medium.com/@maybekatz/introducing-npx-an-npm-package-runner-55f7d4bd282b"><code>npx</code></a>,
					or
				<a href="https://yarnpkg.com/blog/2017/05/12/introducing-yarn/"><code>yarn create</code></a>.</p>
				<pre><code class="language-bash">npx create-electron-app my-new-app
<span class="hljs-comment"># or</span>
yarn create electron-app my-new-app

<span class="hljs-comment"># then</span>
<span class="hljs-built_in">cd</span> my-new-app
npm start</code></pre>
				<p>Alternatively (less recommended):</p>
				<pre><code class="language-bash">npm install -g @electron-forge/cli
electron-forge init my-new-app
<span class="hljs-built_in">cd</span> my-new-app
npm start</code></pre>
				<a href="#project-goals" id="project-goals" style="color: inherit; text-decoration: none;">
					<h1>Project Goals</h1>
				</a>
				<ol>
					<li>Starting with Electron should be as simple as a single command.</li>
					<li>Developers shouldn&#39;t have to worry about setting up build tooling,
						native module rebuilding, etc.  Everything should &quot;just work&quot; for them out
					of the box.</li>
					<li>Everything from creating the project to packaging the project for release
						should be handled by one core dependency in a standard way while still offering
					users maximum choice and freedom.</li>
				</ol>
				<p>With these goals in mind, under the hood this project uses, among others:</p>
				<ul>
					<li><a href="https://github.com/electron/electron-rebuild"><code>electron-rebuild</code></a>:
						Automatically recompiles native Node.js modules against the correct
					Electron version.</li>
					<li><a href="https://github.com/electron-userland/electron-packager">Electron Packager</a>:
					Customizes and bundles your Electron app to get it ready for distribution.</li>
				</ul>
				<a href="#docs-and-usage" id="docs-and-usage" style="color: inherit; text-decoration: none;">
					<h1>Docs and Usage</h1>
				</a>
				<p>For Electron Forge documentation and usage you should check out our website:
				<a href="https://www.electronforge.io">electronforge.io</a></p>
				<a href="#faq" id="faq" style="color: inherit; text-decoration: none;">
					<h1>FAQ</h1>
				</a>
				<a href="#how-do-i-use-this-with-codewebpackcodecodebabelcodecodetypescriptcodecoderandom-build-toolcode" id="how-do-i-use-this-with-codewebpackcodecodebabelcodecodetypescriptcodecoderandom-build-toolcode" style="color: inherit; text-decoration: none;">
					<h2>How do I use this with <code>webpack</code>/<code>babel</code>/<code>typescript</code>/<code>random build tool</code>?</h2>
				</a>
				<p>By default, Electron Forge only runs vanilla (i.e., non-compiled) JavaScript, but if you want
					to do some fancy build tool stuff you should check out the <a href="https://www.electronforge.io/config/plugins">plugins</a>
					section of our docs site.  We currently have plugins for Webpack and Electron Compile, and a
				<a href="https://www.electronforge.io/templates/webpack-template">template for Webpack</a>.</p>
				<a href="#team" id="team" style="color: inherit; text-decoration: none;">
					<h1>Team</h1>
				</a>
				<table>
					<thead>
						<tr>
							<th><img src="https://s.gravatar.com/avatar/1576c987b53868acf73d6ccb08110a78?s=144" width="144" /></th>
							<th><img src="https://avatars2.githubusercontent.com/u/11417?s=460&v=4" width="144" /></th>
						</tr>
					</thead>
					<tbody><tr>
							<td><a href="https://samuelattard.com">Samuel Attard</a></td>
							<td><a href="https://github.com/malept">Mark Lee</a></td>
						</tr>
				</tbody></table>
			</div>
		</div>
		<div class="col-4 col-menu menu-sticky-wrap menu-highlight">
			<nav class="tsd-navigation primary">
				<ul>
					<li class="globals  ">
						<a href="/template/typescript-webpack/globals.html"><em>Globals</em></a>
					</li>
				</ul>
			</nav>
			<nav class="tsd-navigation secondary menu-sticky">
				<ul class="before-current">
					<li class=" tsd-kind-class">
						<a href="/template/typescript-webpack/classes/typescriptwebpacktemplate.html" class="tsd-kind-icon">Type<wbr>Script<wbr>Webpack<wbr>Template</a>
					</li>
					<li class=" tsd-kind-variable">
						<a href="/template/typescript-webpack/globals.html#main_window_webpack_entry" class="tsd-kind-icon">MAIN_<wbr>WINDOW_<wbr>WEBPACK_<wbr>ENTRY</a>
					</li>
					<li class=" tsd-kind-variable">
						<a href="/template/typescript-webpack/globals.html#currentversion" class="tsd-kind-icon">current<wbr>Version</a>
					</li>
					<li class=" tsd-kind-function">
						<a href="/template/typescript-webpack/globals.html#createwindow" class="tsd-kind-icon">create<wbr>Window</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<h2>Legend</h2>
		<div class="tsd-legend-group">
			<ul class="tsd-legend">
				<li class="tsd-kind-module"><span class="tsd-kind-icon">Module</span></li>
				<li class="tsd-kind-object-literal"><span class="tsd-kind-icon">Object literal</span></li>
				<li class="tsd-kind-variable"><span class="tsd-kind-icon">Variable</span></li>
				<li class="tsd-kind-function"><span class="tsd-kind-icon">Function</span></li>
				<li class="tsd-kind-function tsd-has-type-parameter"><span class="tsd-kind-icon">Function with type parameter</span></li>
				<li class="tsd-kind-index-signature"><span class="tsd-kind-icon">Index signature</span></li>
				<li class="tsd-kind-type-alias"><span class="tsd-kind-icon">Type alias</span></li>
				<li class="tsd-kind-type-alias tsd-has-type-parameter"><span class="tsd-kind-icon">Type alias with type parameter</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-enum"><span class="tsd-kind-icon">Enumeration</span></li>
				<li class="tsd-kind-enum-member"><span class="tsd-kind-icon">Enumeration member</span></li>
				<li class="tsd-kind-property tsd-parent-kind-enum"><span class="tsd-kind-icon">Property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-enum"><span class="tsd-kind-icon">Method</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-interface"><span class="tsd-kind-icon">Interface</span></li>
				<li class="tsd-kind-interface tsd-has-type-parameter"><span class="tsd-kind-icon">Interface with type parameter</span></li>
				<li class="tsd-kind-constructor tsd-parent-kind-interface"><span class="tsd-kind-icon">Constructor</span></li>
				<li class="tsd-kind-property tsd-parent-kind-interface"><span class="tsd-kind-icon">Property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-interface"><span class="tsd-kind-icon">Method</span></li>
				<li class="tsd-kind-index-signature tsd-parent-kind-interface"><span class="tsd-kind-icon">Index signature</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-class"><span class="tsd-kind-icon">Class</span></li>
				<li class="tsd-kind-class tsd-has-type-parameter"><span class="tsd-kind-icon">Class with type parameter</span></li>
				<li class="tsd-kind-constructor tsd-parent-kind-class"><span class="tsd-kind-icon">Constructor</span></li>
				<li class="tsd-kind-property tsd-parent-kind-class"><span class="tsd-kind-icon">Property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class"><span class="tsd-kind-icon">Method</span></li>
				<li class="tsd-kind-accessor tsd-parent-kind-class"><span class="tsd-kind-icon">Accessor</span></li>
				<li class="tsd-kind-index-signature tsd-parent-kind-class"><span class="tsd-kind-icon">Index signature</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-constructor tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited constructor</span></li>
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited method</span></li>
				<li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited accessor</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected method</span></li>
				<li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected accessor</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">Private property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">Private method</span></li>
				<li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">Private accessor</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">Static property</span></li>
				<li class="tsd-kind-call-signature tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">Static method</span></li>
			</ul>
		</div>
	</div>
</footer>
<div class="overlay"></div>
<script src="/assets/js/main.js"></script>
<script>if (location.protocol == 'file:') document.write('<script src="/assets/js/search.js"><' + '/script>');</script>
</body>
</html>